In [ ]:
# Example of mysql SELECT statement'reading' some data from an existing database.
# Most of this example can be attributed to:
# https://www.tutorialspoint.com/python/python_database_access.htm
# In terminal pip install mysqlclient for Python3+ to get the MySQLdb module.
# More details about the mysqlclient here: https://github.com/PyMySQL/mysqlclient-python
# Additional work was required because the MySQL database built into MAMP requires a symlink.
# Something like this: ln -s /Applications/MAMP/tmp/mysql/mysql.sock /tmp/mysql.sock
# Finally, import the database module.
import MySQLdb

# Replace the values in allcaps with your specific values, this opens the database connection.
# https://dev.mysql.com/doc/connector-python/en/connector-python-connectargs.html
db = MySQLdb.connect("SERVER","USERNAME","PASSWORD","DATABASE")

# Initiatie a cursor object.
# https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysqlcursor.html
cursor = db.cursor()

# Compose and execute your query.
# https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysqlcursor-execute.html
cursor.execute("SELECT * FROM tweets")

# Request the first row of the results.
data = cursor.fetchone()

# Print that row.
print(data)

# Close the connection to the database to free up resources.
db.close()

In [ ]:
# Example of mysql CREATE TABLE statement.
# Most of this example can be attributed to:
# https://www.tutorialspoint.com/python/python_database_access.htm
# In terminal pip install mysqlclient for Python3+ to get the MySQLdb module.
# More details about the mysqlclient here: https://github.com/PyMySQL/mysqlclient-python
# Additional work was required because the MySQL database built into MAMP requires a symlink.
# Something like this: ln -s /Applications/MAMP/tmp/mysql/mysql.sock /tmp/mysql.sock
# Finally, import the database module.
import MySQLdb

# Replace the values in allcaps with your specific values, this opens the database connection.
# https://dev.mysql.com/doc/connector-python/en/connector-python-connectargs.html
db = MySQLdb.connect("SERVER","USERNAME","PASSWORD","DATABASE")

# Initiatie a cursor object.
# https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysqlcursor.html
cursor = db.cursor()

# Compose your query.
# https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysqlcursor-execute.html
sql = """CREATE TABLE `tweets` (
 `id` int(11) NOT NULL AUTO_INCREMENT,
 `tweet_id` varchar(64) DEFAULT NULL,
 `screen_name` varchar(50) DEFAULT NULL,
 `created_at` timestamp NULL DEFAULT NULL,
 `text` varchar(280),
 PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8;"""

# Execute your query.
# https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysqlcursor-execute.html
cursor.execute(sql)

# Close the connection to the database to free up resources.
db.close()